.feed {
    margin-top: $hnav;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        img.post {
            object-fit: cover;
            width: 20vw;
            height: 20vw;
            display: inline-block;
            border-radius: 10px;
        }
    }

    .scroll {
        display: grid;
        grid-template-columns: 1fr;
        width: 60vw;
    }
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff22;

    &.hidden {
        display: none;
    }

    .post {
        background: $bg;
        height: 80vh;
        width: 70vw;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        border-radius: 10px;

        .info {
            padding: 20px;

            p#author {
                font-size: $fauthor;
                font-weight: bold;
            }

            p#date {
                color: $subfg;
                padding: 5px 0;
            }

            p.title {
                padding-top: 20px;
                padding-bottom: 5px;
                color: $subfg;
            }
        }

        .img {
            width: 80vh;
            height: 80vh;
            background-color: black;
            justify-content: center;
            align-items: center;
            display: flex;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            
            img#fullpost {
                max-width: 80vh;
                max-height: 80vh;
            }
        }
    }
}