nav {
    background-color: $bg;
    height: $hnav;
    width: 100%;
    line-height: $hnav;
    position: fixed;
    top: 0;

    a.title {
        margin-left: 5vw;
        font-size: $fnavtitle;
        text-decoration: none;
    }

    ul {
        float: right;
        margin-right: 5vw;
        
        li {
            display: inline-block;
            list-style-type: none;
        }
    }
}