$bg: #2b303b;
$fg: #c0c5ce;
$subfg: #65737e;

$hnav: 80px;

$fnavtitle: 24px;
$fauthor: 24px;
$fbody: 16px;
$fsub: 12px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $fg;
    font-size: $fbody;
}

body {
    background-color: $bg;
}